body{
  height: 6800px;
}
.hricon,.hricon2{
  width: 60px;
  height: 30px;
  margin-right: 10px;
}
/*upper bar*/
.top-bar{
  background-color: #02185a;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.link1 ,.link1:hover{
  color:white;
  text-decoration: none;
}
.container1{
  padding-left: 70px;
}
.col1{
  margin-bottom: 2px;
  text-align: left;
  margin-top: 13px;
}
.col2,.icons{
    text-align:right;
}
.col2{
  margin-bottom: 2px;
}
.icon-space,.icons{
  padding: 1%;
}
.icons{
  font-size: inherit;
}
.icons:hover{
    background-color: #ff6119;
}
.icon-form{
  color:white;
}
.coldiv{
  padding:0px;
}
/*nav bar*/
.nav-link{
  color: #02185a;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
    margin-right: 28px;
    padding: 5px !important;
      margin-right: 12px;
}
.nav-link:hover,.nav-link:active{
  color:#ff6119;
  text-decoration: underline;
}
.ulnav,.logo{
  margin-left: 40px;
}

.dropdown-item{
  padding-top: 7px;
  padding-bottom: 7px;
  color: grey;
  font-size: 14px;
  font-weight: 600;
}
.dropdown-menu{
  border-bottom: 3px solid #ff6119;
  padding: 0;
  width:230px;
  position:relative;
  top:56px;
  border-radius: 0;
}
.dropdown-divider{
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav{
  /* position: fixed;
    top:0;
    width: 100%; */
    background-attachment: fixed;
    background-color: white;
    z-index:1;
}
/*#nav{
  position: fixed;
  -webkit-transform: translateZ(0);
  z-index: 1000;
}*/
/*banner section carousel*/
.item-1,.item-2{
  color:white;
  padding: 220px 50px;
  webkit-tap-highlight-color: transparent;
}
.item-1{
    background-image: url('../images/banner-photo2.jpg');
}
.item-2{
  background-image: url('../images/banner-photo.jpg');
}
.pbanner{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.hbanner{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.prev{
  justify-content: left;
}
.next{
  justify-content: flex-end;
}
.ic{
  background-color: white ;
  width: 20%;
  height: 5%;
  color:blue;
}
.ic:hover{
  background-color: #ff6119;
  color:white;
}
.btn-banner{
  font-size: 1rem;
  color: #02185a;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0;
  margin-right: 10px;
}
.btn-banner:hover{
  background-color: #ff6119;
}
/*application*/
.r1,.r11{
  margin: 80px 50px 60px 50px;
}
.r2,.r3,.r4{
  padding:5px 50px;
  justify-content: center;
  margin-right: 20px;
  height:400px;
}
.r4{
  text-align:left;
  margin-bottom:  80px;
}
.papplication{
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 700;
}
.happlication{
  color:  #02185a;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.colapp1{
  width:40%;
}
.papplication2{
  margin-top: 10px;
  color:#989898;
  font-weight: 600;
}
.application-image,.blog-image,.application-image-r4{
  max-width: 100%;
  margin-left: 10px;
}
.content-heading,.content-heading-3{
  color: #02185a;
    font-size: 18px;
    font-weight: 700;
    padding:10px  20px;
    font-family: ;'Roboto', sans-serif;
}
.content,.content-3{
  padding: 10px 20px;
}
.content,.content-2,.content-3{
  font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #989898;
}
.read-more{
  color:#02185a;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding: 2px 20px;
}
.read-more:hover{
  color:#ff6119;
}
.content-box,.content-box-2,.content-box-3,.content-box-4{
  border: 1px solid #f1f1f1;
  border-bottom: 3px solid #ff6119;
  height:250px;
  width: 250px;
  position: relative;
  bottom:30px;
  left: 15px;
  background-color: white;
}
/*about us*/
#About-us,.content-box-2,#blogs{
  background-color: #f9f9f9;
}
.content-box-2{
  border: none;
}
.pabout-us{
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #989898;
  padding: 20px 0;
  font-size: 0.9rem;
  line-height: 2;
}
.row-main{
  padding-top:100px;
  padding-bottom: 30px;
  padding-left: 50px;
}
.content-2{
  padding: 3px 20px;
}
.content-box-2{
  margin-left: 20px;
}
.fa-hand{
  color:#ff6119;
  font-size:2rem;
  position: relative;
  top:20px;
}
.box-1{
  background-color: #ff6119;
  width:555px;
  height:402px;
  margin-top: 50px;
  box-shadow: 2px 1px 1px 2px #989898;
}
.coal-carbon{
  width:485px;
  height:473px;
  position:absolute;
  top:20px;
  right:90px;
}
.box-2{
  width:441px;
  height:418px;
  border: 3px solid white;
  position: absolute;
  top: 45px;
  left: 70px;
  background: rgba(14, 27, 62, 0.2);
  color:white;
}
.boxchild-2{
  margin-top: 300px;
  margin-left: 30px;
}
.pbox{
  font-size: 3.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}
.sbox{
  display: inline-block;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
/*assets*/
#assets{
  background-image: url('../images/asset.jpg');
  color:white !important;
  padding-top: 50px;
  padding-bottom: 400px;
}
.passet1,.hasset1,.passet22{
  color:white;
  font-family: 'Poppins',sans-serif;
}
.passet1{
  font-weight: bold;
}
.passet22{
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2;
}
.hasset1{
  font-size: 45px;
  font-weight: 600;
}
.r12{
  padding-left:100px;
  width:1220px;
}
.r11{
  margin-bottom: 30px;
}
.passet,.passet2{
  width:200px;
  margin-left: 50px;
}
.passet{
  font-size: 3rem;
  color:#ff6119;
  font-weight: bold;
  margin-bottom: 0;
}
.passet2{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2;
}
/*form*/
.form-box{
  height:550px;
  width:1100px;
  background-color: #ff6119;
  position: relative;
  bottom:350px;
  margin-left: 70px;
  color:white;
  padding: 80px 70px;
}
.pform{
  font-family: 'Roboto',sans-serif;
  font-weight: 800;
  font-size: 14px;
}
.hform{
  font-size:40px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.pform2{
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 30px;
}
.hform,.h3form{
  font-family:'Roboto',sans-serif;
    margin-bottom: 20px;
}
.hform{
  font-weight: bold;
  letter-spacing: 1.5px;
}
.h3form{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 3px;
  margin-top: 50px;
}
.pform2,.row-child2{
  font-family: 'Poppins',sans-serif;
}
.col-asset{
  padding-left: 0;
  padding-right: 0px;
}
.row-child2{
  font-size: 14px;
  margin-top: 50px;
}
.icon-form{
  margin-right: 20px;
  font-size: 24px;
}
.pform3{
  width:400px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing:1px;
}
.rform{
  margin: 30px ;
}
#fname,#phoneno,#email,#subject{
  border-radius: 0px;
  font-weight: 400;
  display: block;
  border: 0.4px solid #eee;
  box-shadow: none !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cframe{
  padding-left: 0;
}
.cframe2{
  padding-right: 0;
}
.btnf{
  border-radius: 0;
  padding:15px 40px;
  font-size: 14px;
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  color: #02185a;
  background-color: white;
}
.faform{
  color:#02185a;
}
.inputfa{
  background-color: white;
  font-size: 20px;
}
.inputfa:hover{
  background-color:#02185a ;
}
.btnf:hover,.faform:hover{
  background: #02185a;
  color:white;
}
/*brands*/
#Brands{
  position:relative;
  bottom:300px;
}
.content-box-3{
  height:150px;
  position:relative;
  top:5px;
}
.content-heading-3{
  margin-top: 20px;
  line-height: 20px;
  font-size: 21px;
}
.content-3{
  padding: 0px 20px;
  color: #898989;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
}
#certi{
  position: relative;
  bottom:180px;
}
/*blogs*/
#blogs{
  position:relative;
  bottom:230px;
  height:850px;
}
.r1-blog{
  padding-top: 100px;
}
.blog-image{
  height:230px;
  margin-left:16px;
}
.content-box-4{
  width:358.104px;
  position:relative;
  top:0px;
  padding-bottom: 30px;
}
.colblog,.colblog-2{
  line-height: 20px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.colblog{
  color:grey;
}
.colblog-2{
  color:#ff6119;
}
.rblog{
  margin-left:7px;
  margin-top: 30px;
}
.chb{
  font-size: 22px;
  font-weight: 750;
}
.cb{
  font-size: 14px;
}
/*clients*/
#clients{
  position:relative;
  bottom:200px ;
}
.logo{
  border:1px solid #e6e6e6;
  width:208px;
  height:75px;
}
/*footer*/
#footer{
  background-color:#01144a;
  padding:80px 90px 60px 70px;
  position:relative;
  bottom: 400px;
}
.pfooter{
  font-weight: 500;
    color: #ccc;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
}
.btn-f{
  border-radius: 0;
  background-color:#ff6119;
  margin-top: 15px;
  color:white;
  font-size: 13px;
  font-weight: bold;
  padding:20px 40px;
  font-family: 'Roboto',sans-serif;
  letter-spacing: 2px;
  position: relative;
  bottom:50px;
}
.footer-head{
  font-size: 22px;
  letter-spacing: 1px;
}
.fa-square{
  color:#ccc;
}
.pf{
  display:inline-block;
  margin-left: 10px;
}
.rf1{
 height: 40px;
}
.cf1{
  height: 40px;
}
.hrfooter{
  border-top:1px solid rgba(214, 214, 214, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  bottom:30px;
  width:80%;
}
.cfooter{
  padding-right: 0;
  padding-left: 10px;
}
.pmainf{
  position: relative;
  bottom:30px;
}
.imainf{
  position: relative;
  bottom:15px;
}
.ff{
  padding:13px 20px;
  color:#02185a;
  font-weight: 400;
  font-size:14px;
  border:none;
  padding-right: 100px;
}
.btn-f2{
  font-size:26px;
  text-align: center;
  height:47px;
  width: 40px;
  padding-top: 10px;
  color:white;
}
.button-f{
  border: none;
  position: relative;
  right: 5px;
  top:4px;
  background-color: #ff6119;
}
.linkf{
  margin-top: 40px;
}
.iconf{
  font-size:16px;
  height:40px;
  width:40px;
  color:white;
  padding:10px 10px;
  background-color: #ff6119;
  margin-right: 10px;
}
.iconf:hover{
  background-color: white;
  color:#ff6119;
}
.pff2{
  margin-top: 0;
  margin-bottom: 10px;
}
.rfooter-2{
  margin-top: 20px;
}
.cff{
  background-color: white;
  padding-top:40px;
  padding-left: 30px;
  padding-bottom: 40px;
  border-right: 1px solid #DDD;

}
.pff{
  display:inline-block;
  text-rendering: auto;
  position: absolute;
  font-size: 14px;
    color: #02185a;
    font-weight: 500;
    line-height: 20px;
}
.fff{
  color: #ff6119;
  font-size: 35px;
  margin-right: 20px;
}
.pf3{
  font-size:16px;
  color:white;
  font-weight: 500;
 letter-spacing: 1px;
}
.rfooter-3{
  margin-top: 30px;
}
.pf4, .pf4:hover{
  font-size: 16px;
  color:#ff6119;
  font-weight: bold;
  text-decoration: none;
}
.cff3{
  padding-left: 0px;
  padding-right: 0px;
}
.ic-footer:hover{
  color:white;
}
